footer{
    
    .row{
        margin: 100px auto 0 auto;
        @include media(576px){
            padding: 0 5%;
        }
    
        @include media(768px){
            padding: 0 15%;
            margin-top: 150px;
        }
    }
    

    
    ul{
        text-align: center;
        list-style: none;
        max-width: 100%;

        a{
            text-decoration: none;
            color: #343A40;
            font-weight: 600;
            font-size: 14px;
            transition: 150ms ease-out;

            &:hover{
                color: $primaryColor;
            }
        }

        .social-icon{
            width: 35px;
            height: 35px;
            @include centerIt;
            border-radius: 50%;
            margin: 0 auto;
            color: white;
            transition: 150ms ease-out;
            box-shadow: 0 0 10px transparent;
            &:hover{
                box-shadow: 0 0 10px #343A40;
            }
        }

        li{
            margin: 15px 0;
        }
    }
}