.pagination{
    padding: 0;
    margin-top: 30px;
    background: transparent;

    .page-item{
        background: transparent;
        margin: 0 2px;

        .page-link{
            color: $primaryColor;
            background: transparent;
            border: none;
            font-weight: bolder;
            border-radius: 50%;
            transition: 150ms ease-out;
            width: 30px;
            height: 30px;
            @include centerIt;
            box-shadow: none;

            &:hover, &.active{
                background: $primaryColor;
                color: white;
            }
        }

        &.disabled{
           .page-link{
               color: grey;
           }
        }
    }
}