.settings{
    background: darken($lightSilver, 5%);
    padding: 100px 0;
}


.settings-container{
    margin: 0 auto;
    background: white;
    width: 100%;
    overflow: hidden;

    @include media(992px){
        display: flex;
    }
}

.selector-container{
    display: flex;
    background: $darkblue;
    color: white;
    @include media(992px){
        flex-direction: column;
        width: 200px;
    }
    
    .selector{
        padding: 15px 10px;
        flex-grow: 1;
        cursor: pointer;
        transition: 200ms ease-out;
        text-align: center;

        .selector-title{
            display: none;
        }

        @include media(992px){
            flex-grow: initial;
            text-align: start;
            &:not(:last-child){
                border-bottom: 1px solid silver;
            }
            .selector-title{
                display: initial;
            }
        }

        &.active{
            background: $primaryColor;
        }
        &:not(.active):hover{
            color: $primaryColor;
        }
    }
}

.comp-container{
    padding: 30px;
    background: white;
    border-top: 1px solid silver;
    min-height: 450px;

    @include media(768px){
        padding: 30px 60px;
    }

    @include media(992px){
        flex-grow: 1;
        padding: 30px 100px;
        border-top: none;
    }
    @include media(1100px){
        padding: 30px 200px;
    }

    button{
        @include btn($primaryColor);
        min-width: 80px;
    }

    .delete-acc{
        border-top: 1px solid silver;
        padding-top: 30px;
        text-align: center;
        button{
            background-color: crimson;
            &:hover{
                filter: brightness(120%);
            }
        }
    }

    .confirm-delete{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, .7);
        @include centerIt;
        
        .confirm-dialog{
            background: white;
            width: 90%;
            padding: 30px;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            max-width: 700px;
        }

        p{
            font-size: 24px;
        }

        button{
            margin: 0 10px;
            background: silver;
            &[type="submit"] {
                background: crimson;
            }
            &:hover{
                filter:brightness(120%);
            }
        }
    }
}